{%- import 'decanter/macros/asset.html' as assets with context -%}
<!doctype html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title>{% block title -%}{% endblock -%}</title>

  {% block style -%}
  {{ assets.style('lib-css-min', debug='lib-css') }}
  {{ assets.style('app-css-min', debug='app-css') }}
  {% endblock -%}

  {% block modernizr -%}
  <script src="{{ url_for('static', filename='script/modernizr.js') }}"></script>
  {% endblock -%}
</head>
<body class="{% block body_class %}{% endblock %}">
  {% block ie -%}
  <!--[if lt IE 7]>
  <p class="chromeframe">
    You are using an outdated browser.
    <a href="http://browsehappy.com/">Upgrade your browser today</a> or 
    <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> 
    to better experience this site.
  </p>
  <![endif]-->
  {% endblock -%}

  <header>
  {% block header -%}
  {% endblock -%}
  </header>

  {% block flash_messages -%}
  <section id="flash-messages">
    {% include "decanter/snippets/flash.html" %}
  </section>
  {% endblock -%}

  {% block body -%}
  {% endblock -%}

  <footer>
    {% block footer -%}
    {% endblock -%}
  </footer>

  {% block scripts -%}
  {{ assets.script('lib-js-min', debug='lib-js') }}
  {{ assets.script('kohelpers-js-min', debug='kohelpers-js') }}
  {{ assets.script('app-js-min', debug='app-js') }}
  {% endblock -%}

  {% block init -%}
  {% endblock -%}
</body>
</html>
