recursive-include decanter/static *
recursive-include decanter/templates *
recursive-include decanter/sql *
include decanter/assets/manifest.yaml
include decanter/assets/decanter.yaml.tmpl
include decanter/assets/.webassets-manifest
