decanter-js:
    output: %(static_dir)s/script/decanter.js
    contents:
        - %(decanter_dir)s/static/script/lib.js
        - %(decanter_dir)s/static/script/kohelpers.js
        - %(decanter_dir)s/static/script/decanter.js

decanter-js-min:
    output: %(static_dir)s/script/decanter.min.js
    filters: uglifyjs
    contents:
        - decanter-js

decanter-lib-css:
    output: %(static_dir)s/style/bootstrap.css
    filters: less
    debug: False
    contents:
        - %(decanter_dir)s/static/style/bootstrap-2.2.0.css
        - %(decanter_dir)s/static/style/bootstrap-responsive-2.2.0.css

decanter-lib-css-min:
    output: %(static_dir)s/style/bootstrap.min.css
    filters: yui_css
    debug: False
    contents:
        - decanter-lib-css
