<!doctype html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title>Test Site</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block content %}
  <h1>Hello World! From base.html</h1>
{% endblock content %}
<script src="{{ url_for('static', filename='script/decanter.js') }}"></script>
</body>
</html>
