{% extends 'decanter/admin/base.html' %}
{% block body %}
<div class="container">
  <form id="admin-groups-update" data-bind="submit: function (c) { alert('Updating groups currently not supported.') } ">
    <table>
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Description</td>
      </tr>
      <tbody data-bind="foreach: groups.models">
        <tr class="data-row">
          <td data-bind="text: id"></td>
          <td data-bind="text: name"></td>
          <td data-bind="text: description"></td>
        </tr>
      </tbody>
    </table>
    <input class="btn" type="submit" value="Update"/>
  </form>
</div>
{% endblock %}

{% block init_page %}
  <script type="text/javascript">
    DC.admin.RolesPage.init({
    });
  </script>
{% endblock %}
